<style>
    /*body {*/
    /*    font-family: Arial, sans-serif;*/
    /*    margin: 20px;*/
    /*    background-color: #f9f9f9;*/
    /*}*/
    .admin-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        color: #333;
        display: inline;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: var(--primary);
        color: white;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
    .editable-icon {
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s, transform 0.2s;
    }

    .editable-icon:hover {
        background-color: #f0f0f0; /* Light background color on hover */
        transform: scale(1.5); /* Slightly enlarge the icon for better feedback */
    }

    .editable-icon:active {
        background-color: #ddd; /* Darker background on click */
    }
</style>

<body class="linkman-admin-dashboard">

<div class="admin-panel">
    <h1>External Link Manager</h1>
<!--    <button class="linkman-add">Add</button>-->
</div>


<table class="linkman-table">
    <thead>
    <tr>
<!--        <th>#</th>-->
        <th>Name</th>
        <th>Original Link</th>
<!--        <th>Created</th>-->
        <th>Note</th>
        <th>Local Link</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{# data}}
        <tr data-id="{{id}}" class="linkman-table-row">
            <td>{{name}}</td>
            <td>{{baselink}}</td>
<!--            <td>{{#userdate}} {{created}}, {{#str}} strftimedate, core_langconfig {{/str}} {{/userdate}}-->
<!--            </td>-->
            <td>{{note}}</td>
            <td>
                <div id="linkman-id-{{id}}" style="display:inline-block; border:none;">
                    {{config.wwwroot}}/local/linkman/request.php?code={{code}}
                </div>
            </td>
        <td>
            <button class="btn btn-primary ml-2" data-action="copytoclipboard" data-clipboard-target="#linkman-id-{{id}}"
                    data-clipboard-success-message="Copied successfully">Copy</button>
        </td>
        <td><i class="fa fa-pencil editable-icon" data-action="linkman-item-edit" data-id="{{id}}"
        data-name="{{name}}" data-baselink="{{baselink}}" data-note="{{note}}"></i></td>
        <td><i class="fa fa-xmark-square editable-icon" data-action="linkman-item-delete" data-id="{{id}}"></i></td>
    {{/ data}}

    </tbody>
</table>
</body>
{{#js}}
    require(["core/copy_to_clipboard"]);
{{/js}}